<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <video autoplay loop>
         <source src="">
      </video>
      <br>
      <h5><a href="/" >Don't be angry. Go home and try again.</a></h5>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h3>Oops there were some errors:</h3>
      <ul>
        <% @shoe_store.errors().full_messages().each() do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
