<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Shoe Store</h3>

      <form action="/create_shoe_store" method="post">
        <div class="form-group">
          <label for="title" class="form-label">Name new shoe store:</label>
          <input type="text" name="title" class="form-control" id="title" required>
          <br>
          <button type="submit" class="btn btn-success">Add Shoe Store</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @shoe_stores.any?() %>
      <h3>Here are the shoe stores:</h3>

      <form action="/delete_shoe_store" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @shoe_stores.each() do |shoe_store| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="shoe_store_ids[]" value="<%= shoe_store.id() %>"> <a href= "shoe_store/<%= shoe_store.id %>"><%= shoe_store.title() %></a>
          </label>
        </div>
      <% end %>

        <button type="submit" class="btn btn-danger">Delete Selected Shoe Stores</button>
      </form>

    <% else %>

        <p>There are no shoe stores yet!</p>

    <% end %>
    </div>
    <br>
    <div class="card">
      <h6><a href="/">Return To Homepage</a></h6>
    </div>
  </div>
</div>
