<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h5><a href="/add_shoe_store">Add or Delete a store!</a><h5>
    </div>
    <br>
    <div class="card">
      <form action="/search_shoe_store" method="post">
        <div class="form-group">
          <h4><label for="search" class="form-label">Search Stores:</label></h4>
          <input type="text" name="search" class="form-control" id="search" required>
          <br>
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </form>
    </div>
    <br>
    <div class="card">
      <h1>Shoe Stores</h1>
      <% if @shoe_stores.any?() %>
      <h3>Here are the stores:</h3>

      <ul>
        <% @shoe_stores.each() do |shoe_store| %>
          <li><a href="/shoe_store/<%= shoe_store.id() %>"><%= shoe_store.title() %></a> </li>
        <% end %>
      </ul>

    <% else %>

        <p>There are no shoe stores yet!</p>

    <% end %>
    </div>
  </div>

  <div class="col-sm-6">
  <div class="card">
    <h5><a href="/add_shoe_brand">Add a brand to the list!</a></h5>
  </div>
  <br>
  <div class="card">
    <form action="/search_shoe_store" method="post">
      <div class="form-group">
        <h4><label for="search_brand" class="form-label">Search Brands:</label></h4>
        <input type="text" name="search_brand" class="form-control" id="search_brand" required>
        <br>
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
  <br>
  <div class="card">
    <h1>Shoe Brands</h1>
    <% if @shoe_brands.any?() %>
    <h3>Here are the brands:</h3>

    <ul>
      <% @shoe_brands.each() do |shoe_brand| %>
        <li><a href="/shoe_brand/<%= shoe_brand.id() %>"><%= shoe_brand.title() %></a></li>
      <% end %>
    </ul>

  <% else %>

      <p>There are no shoe brands yet!</p>

  <% end %>
  </div>
</div>
