@font-face {
  font-family: sports;
  src: url('sports.ttf');
}

body {
  font-family: sports;
  background-image: url('/img/galaxy.jpg');
  color: #19123C;
}

a {
  color: #F0CCD4;
}

.jumbotron {
  background-color: #987F90;
  /*color: #0E171C;*/
}

.jumbotron h1 {
  font-size: 80px;
}

.card {
  padding: 20px;
  background-color: #7F78AC;
}

.btn {
  background-color: #7F78AC !important;
}
